<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="scripts/renderPool.js"></script>
    <script type="text/javascript" src="scripts/renderEvent.js"></script>
    <script src="scripts/app.js"></script>

    <title>Find a Pool</title>

  </head>

  <body>

    <div class="container">

      <!-- Header -->
      <header class="row">
        <div class="col-sm-6">
          <h1>Find a Pool</h1>
        </div>
        <div class="col-sm-6">
          <input class="search" type="text" name="" value="" placeholder="Search pools">
        </div>
      </header>

      <!-- Navigation-->
      <nav class="row">
        <div class="col-sm-3">
          <a href="#">Find a Pool</a>
        </div>
        <div class="col-sm-3">
          <a href="#">About Find a Pool</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Policies</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Contact Us</a>
        </div>
      </nav>


      <div class="main row">

        <!-- Rendering HTML for each Pool here -->
        <!-- New pool appears on top (prepend)-->

        <!-- Form for adding pools -->
        <div class="col-xs-12" id="add-pool">
          <h3>Add a Pool</h3>
          <form class="" action="index.html" method="post">
            <div class="row">
              <input class="col-sm-2" type="text" name="name" value="" placeholder="Name">
              <input class="col-sm-2" type="text" name="address" value="" placeholder="Address">
              <input class="col-sm-2" type="text" name="phoneNumber" value="" placeholder="Phone">
              <input class="col-sm-2" type="text" name="contactEmail" value="" placeholder="Email">
            </div>
            <div class="row">
              <input class="col-sm-1" type="text" name="monday" value="" placeholder="Mon sched">
              <input class="col-sm-1" type="text" name="tuesday" value="" placeholder="Tues sched">
              <input class="col-sm-1" type="text" name="wednesday" value="" placeholder="Wed sched">
              <input class="col-sm-1" type="text" name="thursday" value="" placeholder="Thurs sched">
              <input class="col-sm-1" type="text" name="friday" value="" placeholder="Fri sched">
              <input class="col-sm-1" type="text" name="saturday" value="" placeholder="Sat sched">
              <input class="col-sm-1" type="text" name="sunday" value="" placeholder="Sun sched">
            </div>
            <div class="row">
              <!-- <input class="col-sm-3" type="text" name="special" value="" placeholder="Special Event"> -->
              <input class="col-sm-2" type="submit" name="Submit" value="Submit">
            </div>
          </form>
        </div>

    </div> <!-- End of Main Div -->

      <footer class="row col-sm-12">
        <nav>
          <a href="#">Find a Pool</a>
          <a href="#">About Find a Pool</a>
          <a href="#">Policies</a>
          <a href="#">Contact Us</a>
          <a href="#" id="admin">Admin Log In</a>

        </nav>
      </footer>

    </div> <!-- End of Container -->



  </body>
</html>
