<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Mada|Merriweather+Sans|Montserrat" rel="stylesheet">


    <!-- VENDOR SCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="scripts/renderPool.js"></script>
    <script type="text/javascript" src="scripts/renderEvent.js"></script>
    <script src="scripts/app.js"></script>

    <title>Find a Pool</title>

  </head>

  <body>

    <div class="container">

      <!-- Header -->
      <header class="row">
        <div class="col-sm-9">
          <h1>Find a Pool</h1>
        </div>
        <div class="col-sm-3 col-xs-8">
          <input class="search form-control" type="text" name="" value="" placeholder="Search Pools">
        </div>
      </header>
      <!-- Navigation-->
      <nav class="row primary">
        <div class="col-sm-3">
          <a href="#">Find a Pool</a>
        </div>
        <div class="col-sm-3">
          <a href="#">About Find a Pool</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Policies</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Contact Us</a>
        </div>
      </nav>

      <div class="main">

        <div id="insert-pool" class="row">
          <!-- Rendering HTML for each Pool here -->
          <!-- New pool appears on top (prepend)-->
        </div>

        <div class="row">
          <div class="col-xs-12" id="add-pool">
            <h3>Add a Pool</h3>
            <!-- Form for adding pools -->
            <form class="" action="index.html" method="post">
              <div class="row">
                <div class="col-md-4 col-sm-6"><input class="form-control" type="text" name="name" value="" placeholder="Name"></div>
                <div class="col-md-4 col-sm-6"><input class="form-control" type="text" name="address" value="" placeholder="Address"></div>
                <div class="col-md-2 col-sm-3"><input class="form-control" type="text" name="phoneNumber" value="" placeholder="Phone"></div>
                <div class="col-md-2 col-sm-3"><input class="form-control" type="text" name="contactEmail" value="" placeholder="Email"></div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-xs-6"><input class="form-control" type="text" name="monday" value="" placeholder="Mon sched"></div>
                <div class="col-sm-3 col-xs-6"><input class="form-control" type="text" name="tuesday" value="" placeholder="Tues sched"></div>
                <div class="col-sm-3 col-xs-6"><input class="form-control" type="text" name="wednesday" value="" placeholder="Wed sched"></div>
                <div class="col-sm-3 col-xs-6"><input class="form-control" type="text" name="thursday" value="" placeholder="Thurs sched"></div>
                <div class="col-sm-3 col-xs-6"><input class="form-control" type="text" name="friday" value="" placeholder="Fri sched"></div>
                <div class="col-sm-3 col-xs-6"><input class="form-control" type="text" name="saturday" value="" placeholder="Sat sched"></div>
                <div class="col-sm-3 col-xs-6"><input class="form-control" type="text" name="sunday" value="" placeholder="Sun sched"></div>
                <div class="col-sm-3 col-xs-6"><input class="form-control submit btn btn-default" type="submit" name="Submit" value="Submit"></div>
              </div>
            </form>
          </div>

        </div>
    </div> <!-- End of Main Div -->

      <footer class="row">
        <nav>
          <a href="#">Find a Pool</a>
          <a href="#">About Find a Pool</a>
          <a href="#">Policies</a>
          <a href="#">Contact Us</a>
          <a href="#" id="admin">Admin Log In</a>
        </nav>
      </footer>

    </div> <!-- End of Container -->



  </body>
</html>
